

  .cabecalho
    width: 100vw
    height: 6rem
    background-color: #435D7D
    display: flex
    align-items: center
    justify-content: space-around
    padding: 0 2rem

    ul
      display: flex
      list-style: none


      li
        margin-left: 2rem

        a
          color: #fff
          text-decoration: none
          font-size: 1.2em
          font-weight: 500
          transition: all 0.3s ease-in-out

          &:hover
            color: #F2F2F2
            cursor: pointer

          @media (max-width: 1250px)
            font-size: 1em

  h2
    color: white
    font-size: 2rem
    font-weight: 500
    margin: 0
    padding: 0

    @media (max-width: 1250px)
      font-size: 1.5rem

