<div class="container">
  <div class="row">
    <div class="col-md-12">
      <header>
        <h2>Clinicas</h2>
        <div>
          <button routerLink="/criar">Adicionar Clinica</button>
        </div>
      </header>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Especialidade</th>
            <th>Telefone</th>
            <th>Estado</th>
            <th>Endereço</th>
            <th>Horário de Funcionamento</th>
            <th>Cep</th>
            <th>Cnpj</th>
            <th>Preço</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let clinica of listaClinicas">
            <td>{{ clinica.nome }}</td>
            <td>{{ clinica.especialidade }}</td>
            <td>{{ clinica.telefone }}</td>
            <td>{{ clinica.estado }}</td>

            <td>
              {{ clinica.bairro }} - {{ clinica["endereço"] }},
              {{ clinica.numero }}
            </td>
            <td>
              {{ clinica.atendimento.inicio }} - {{ clinica.atendimento.fim }}
            </td>
            <td>{{ clinica.cep }}</td>
            <td>{{ clinica.cnpj }}</td>
            <td>{{ clinica["preço"] }}</td>
            <td>{{ clinica.status }}</td>
            <td><a routerLink="/editar/{{ clinica.id }}">Editar</a></td>
            <td><a routerLink="/excluir/{{ clinica.id }}">Excluir</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
